body {
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(to left, #b3cce2, #d9ccc1);
}

h1 {
    color: #d9ccc1;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-align: center;
    background-color: #005eb0;
}

h2 {
    color: #d9ccc1;
    font-size: 1.5rem;
    background-color: #005eb0;
}

p {
    color: #024059;
    font-size: 1rem;
}

.citacao {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    margin-left: 4rem;
}

.autor {
    color: darkslategray;
    text-align: right;
    font-style: italic;
}

.data {
    color: darkslategray;
    font-size: 0.8rem;
    text-align: left;
    font-style: italic;
}

.codigo {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 4rem;
}

#autor {
    color: black;
    font-style: italic;
    margin-left: 4rem;
}

#titulo {
    margin-left: 4rem;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }