body {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.8), rgba(255, 255, 255, 0.8), rgba(0, 0, 255, 0.80));
    font-family: Arial;
    
}

h1 {
    color: brown ;
}

h2 {
    color: darkgreen;
}

.copyright {
    font-style: italic;
    color: darkgreen;
    font-size: small;
    text-align: center;
}